@import url("Reset.css");
@import url("Utilites.css");
@import url("temp.css");
dialog {
}
dialog[open] {
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0); /* Start transparent */
  transition: background-color 0.3s ease-in-out;
}

dialog[open]::backdrop {
  /* Apply styles when dialog is open */
  background-color: rgba(0, 0, 0, 0.5);
}

* {
  interpolate-size: allow-keywords;
}
/* buttons style */
.main-button {
  --transiton-button-speed: 0.4s;
  display: flex;
  align-items: center;
  border: var(--border-botton);
  border-radius: 0.4rem;
  transition: all var(--transiton-button-speed);
  background-color: var(--button-bg-color);
  color: var(--Text-primary);
  font-size: 1.1rem;
  font-weight: 500;
}

.main-button img {
  height: 26px;
}
.nav-button {
  padding: 0.3rem;
  font-size: 1.05rem;
}
.nav-button.side {
  width: fit-content;
  margin-block-end: 1rem;
}

/* image navba */
.nav-button > * {
  min-height: 26px;
  fill: var(--Text-Primary);
}

.main-button.danger-button.active,
.main-button.danger-button:hover,
.main-button.danger-button:focus-visible {
  background-color: rgba(233, 63, 63, 0.705) !important;
}

.nav-sid-bottom-clicked {
  transition: transform var(--transiton-button-speed);
  transform: rotateY(180deg);
  background-color: var(--button-active) !important;
  -webkit-backdrop-filter: blur(0.05rem);
  backdrop-filter: blur(0.2rem);
}

.side-button {
  column-gap: 0.25rem;
  padding-inline-start: 1rem !important;
  transition: background-color var(--transiton-button-speed);
}

.side-button > img {
  max-height: 27px;
}
.active,
.main-button:hover,
.main-button:focus-visible {
  outline: 1px solid gray !important;
  background: var(--button-active) !important;
  transition: transform var(--transiton-button-speed);
  -webkit-backdrop-filter: blur(0.05rem);
  backdrop-filter: blur(0.05rem);
  color: var(--Text-Black) !important;
}

/* .accourdion-button {
  background-color: var(--button-bg-color);
  color: var(--Text-primary);
  border: var(--border-botton);
  border-radius: 0.4rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.accourdion-button img {
  max-height: 27px;
}
.accurdion-arrow {
  transition: all 0.4s;
  fill: var(--Text-Primary);
}
.accurdion-arrow.open {
  rotate: 0.5turn;
  transition: all 0.4s;
  transform-origin: 50% 40%;
}
ul.accourdionBody {
  text-align: start;
  overflow: hidden;
  list-style: none;
  height: 0;
  transition: all 0.4s;
  row-gap: 0.4rem;
}

ul.accourdionBody.open {
  transition: all 0.4s;
  height: auto !important;
  margin: 0.3rem;
  /* padding: 0.5rem!imortant; 
}
ul.accourdionBody > li {
  border: var(--border-botton);
  background-color: var(--button-bg-color);
  border-radius: 0.4rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding-inline-start: 1rem !important;
}
ul.accourdionBody img {
  max-height: 23px;
} */

/* accordion Side */
.accodrion {
  background-color: var();
  border: var(--border-botton);
  border-radius: 0.4rem;
  transition: all var(--transiton-button-speed);
  background-color: var(--button-bg-color);
  color: var(--Text-primary);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 !important;
}
.accodrionHeader {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
.accodrionHeader > .arrow {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  transition: all 0.4s;
  fill: var(--Text-Primary);
}

.arrow.open {
  rotate: -0.5turn;
  transition: all 0.4s;
  transform-origin: 50% 45%;
}

.accodrionBody {
  overflow: hidden;
  height: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  opacity: 0;
}

.accodrionBody > * {
  padding: 0.3rem;
  border: var(--border-botton);
}
.accodrionBody > *:hover,
.accodrionBody > *:focus-visible {
  outline: 1px solid gray !important;
  background: var(--button-active) !important;
  transition: transform var(--transiton-button-speed);
  -webkit-backdrop-filter: blur(0.05rem);
  backdrop-filter: blur(0.05rem);
}

.accodrionBody.open {
  height: auto;
  opacity: 1;
  padding: 1rem;

  transition: all 0.4s;
}
/* accordion Side end */

/* end button style */

/* Dashborad Main Layout */

.Navbar {
  padding: 1rem;
  border-bottom: var(--main-border);
  background: var(--main-backgounrd);
  background-size: cover;
  background-size: 500px;
  -webkit-backdrop-filter: blur(0.2rem);
  backdrop-filter: blur(0.2rem);
  flex-wrap: wrap;
}

.wrapper {
  /* backdrop-filter: blur(0.05rem); */

  height: 0;
  position: relative;
}

.Main {
  padding: 0.6rem;

  border: var(--main-border);
  border-radius: 0.4rem;
  overflow-y: scroll;
  margin: 0.6rem;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  width: min(calc(100% - 1.2rem), 1080px);
  margin-inline: auto;
  flex-grow: 1;
}

.wrapper > .Sidebar {
  width: min(260px, 100%);
  flex-shrink: 0;

  padding: 1rem;

  border-inline-end: var(--main-border);

  background: var(--main-backgounrd);
  background-position: center;
  background-size: 570px;

  height: 100%;
  overflow-y: scroll;
  -webkit-backdrop-filter: blur(0.2rem);
  backdrop-filter: blur(0.2rem);
  /* animation: width-in linear var(--transiton-button-speed); */
}

/* @keyframes width-in {
  from {
    background-color: red;
    width: 0;
  }
  to {
    background-color: antiquewhite;

    width: auto;
  }
} */

/* edite */
.Sidebar > * {
  padding: 0.35rem;
}

/* SideBar Samll  */
.Sidebar.sidebar-small {
  z-index: 1;
  position: absolute;
}

.resturantInfo {
  color: var(--Text-Black);
  background: var(--resturant-info-bg);
  /* background-color: white; */
  border-radius: 0.4rem;
  border: var(--border-botton);
  text-align: center;
  font-weight: bold;
  max-height: 150px;
  gap: 1rem;
  position: relative;
  display: flex;
}

.resturantInfo-image {
  mix-blend-mode: multiply;
  justify-self: center;
  align-self: center;
  height: 70%;
  width: 100%;
  object-fit: contain;
}
.resturantInfo-title {
  --vert-radius: 8px;
  font-size: 0.8rem;
  position: absolute;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  padding: 0.3rem;
  background-color: var(--Secondary-Color);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - var(--vert-radius)),
    calc(100% - var(--vert-radius)) 100%,
    0% 100%,
    0% var(--vert-radius)
  );
  direction: ltr;
  z-index: 1;
  isolation: isolate;
}

/* dash board End style */

/* styled header */
.styledHeader {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;

  text-align: center;
  position: relative;
  isolation: isolate;
}

/* styled header end */
.dashMain > section {
  min-height: 100%;
  background-position: center;
  background-size: cover !important;
  padding: 1rem;
  margin: 2rem;
}
.dashMain > section.s2 {
  background: linear-gradient(rgba(10, 10, 10, 0.884) 0 0),
    url("../assets/bg2.png");
  background-attachment: fixed;
}
.dashMain > section.s1 {
  background: url("../assets/bg3.jpg");
  background-attachment: fixed;
}
.dashMain > section.s3 {
  background: url("../assets/bg1.jpg");
  background-attachment: fixed;
}
